# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
env/
venv/
.venv/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/
*checkpoint.ipynb

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak

# ==========================
# Excel Temporary Files
# ==========================
~$*.xlsx

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/
.cache/